<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>CFM - KPP Mining | @ViewBag.Title</title>

    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="~/Content/assets/media/photos/Logo CFM1.png">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/assets/js/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/assets/js/plugins/sweetalert2/sweetalert2.min.css">
    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="~/Content/assets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Content/assets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Content/assets/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Content/assets/js/plugins/flatpickr/flatpickr.min.css">
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Fonts and Codebase framework -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap">*@
    <link rel="stylesheet" id="css-main" href="~/Content/assets/css/codebase.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />

    <style>
        .naraw {
            padding-left: 5px;
        }

        body {
            background-color: #F1F6F2;
        }

        .tombol {
            font-size: small;
        }

        .piraww {
            color: black;
        }

        #downloadButton {
            background: none;
            border: none;
            font-size: 12px;
            text-decoration: none;
            color: #000;
            cursor: pointer;
            outline: none; /* Remove the focus outline */
        }
        #downloadButton:hover {
            text-decoration: underline;
        }

        #downloadButton2 {
            background: none;
            border: none;
            font-size: 12px;
            text-decoration: none;
            color: #000;
            cursor: pointer;
            outline: none; /* Remove the focus outline */
        }
        #downloadButton2:hover {
            text-decoration: underline;
        }

        #filterbuton {
            background: none;
            border: none;
            font-size: 12px;
            text-decoration: none;
            color: #000;
            cursor: pointer;
            outline: none; /* Remove the focus outline */
        }
        #filterbuton:hover {
            text-decoration: underline;
        }

        /*#chartshome {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }*/
    </style>
    <script src="~/Content/assets/js/lib/jquery.min.js"></script>

    <!-- Page JS Plugins -->
    <script src="~/Content/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/Content/assets/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/assets/js/plugins/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/assets/js/plugins/datatables-buttons-jszip/jszip.min.js"></script>
    <script src="~/Content/assets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/assets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/assets/js/plugins/datatables-buttons/buttons.print.min.js"></script>
    <script src="~/Content/assets/js/plugins/datatables-buttons/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-pie.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-base.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

</head>
<body>
    <input type="text" id="hd_nrp" value="@Session["Nrp"].ToString()" hidden />
    <input type="text" id="hd_site" value="@Session["Site"].ToString()" hidden />
    <input type="text" id="hd_positid" value="@Session["PositionID"].ToString()" hidden />
    <input type="text" id="hd_idroles" value="@Session["ID_Role"].ToString()" hidden />
    <input type="text" id="web_link" value="@Session["Web_Link"].ToString()" hidden />

    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>

    <div id="page-container" class="sidebar-dark side-scroll page-header-fixed main-content">

        <!-- Sidebar -->
        <nav id="sidebar">
            <!-- Sidebar Content -->
            <div class="sidebar-content">
                <!-- Side Header -->
                <div class="content-header justify-content-lg-center bg-black-10">
                    <!-- Logo -->
                    <div>
                        <span class="smini-visible fw-bold tracking-wide fs-lg">
                            c<span class="text-primary">b</span>
                        </span>
                        <a class="link-fx fw-bold tracking-wide mx-auto" href="index.html">
                            <span class="smini-hidden">
                                <i class="fa fa-fire text-primary"></i>
                                <span class="fs-4 text-dual">code</span><span class="fs-4 text-primary">base</span>
                            </span>
                        </a>
                    </div>
                    <!-- END Logo -->
                    <!-- Options -->
                    <div>
                        <!-- Close Sidebar, Visible only on mobile screens -->
                        <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                        <button type="button" class="btn btn-sm btn-alt-danger d-lg-none" data-toggle="layout" data-action="sidebar_close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                        <!-- END Close Sidebar -->
                    </div>
                    <!-- END Options -->
                </div>
                <!-- END Side Header -->
                <!-- Sidebar Scrolling -->
                <div class="js-sidebar-scroll">
                    <!-- Side Main Navigation -->
                    <div class="content-side content-side-full">
                        <!--
                        Mobile navigation, desktop navigation can be found in #page-header

                        If you would like to use the same navigation in both mobiles and desktops, you can use exactly the same markup inside sidebar and header navigation ul lists
                        -->
                        <ul class="nav-main">
                            <li class="nav-main-item">
                                <a class="nav-main-link active" href="db_social.html">
                                    <i class="nav-main-link-icon fa fa-home"></i>
                                    <span class="nav-main-link-name">Home</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="">
                                    <i class="nav-main-link-icon fa fa-flag"></i>
                                    <span class="nav-main-link-name">Notifications</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="">
                                    <i class="nav-main-link-icon fa fa-envelope"></i>
                                    <span class="nav-main-link-name">Messages</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END Side Main Navigation -->
                </div>
                <!-- END Sidebar Scrolling -->
            </div>
            <!-- Sidebar Content -->
        </nav>
        <!-- END Sidebar -->
        <!-- Header -->
        <header id="page-header">
            <!-- Header Content -->
            <div class="content-header">
                <div class="row g-0 align-items-center w-100">
                    <div class="col text-start">
                        <img src="~/Content/assets/media/photos/logo_dcfc.png" style="max-width:120px">
                    </div>
                    <div class="col-8 text-end" style="border-right: 1px solid #C7C7C7;">
                        @Html.Action("Menu", "Menu")
                    </div>
                    @*default row = 4,6,2*@
                    <div class="col text-center">
                        <!--<button type="button" class="btn btn-sm" id="page-header-notifications" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            @*<img src="~/Content/assets/media/photos/awan.png" style="max-width:34px">*@
                            <!--<svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_1262_837" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                                    <rect width="24" height="24" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_1262_837)">
                                    <path d="M5 19C4.71667 19 4.47917 18.9042 4.2875 18.7125C4.09583 18.5208 4 18.2833 4 18C4 17.7167 4.09583 17.4792 4.2875 17.2875C4.47917 17.0958 4.71667 17 5 17H6V10C6 8.61667 6.41667 7.3875 7.25 6.3125C8.08333 5.2375 9.16667 4.53333 10.5 4.2V3.5C10.5 3.08333 10.6458 2.72917 10.9375 2.4375C11.2292 2.14583 11.5833 2 12 2C12.4167 2 12.7708 2.14583 13.0625 2.4375C13.3542 2.72917 13.5 3.08333 13.5 3.5V4.2C14.8333 4.53333 15.9167 5.2375 16.75 6.3125C17.5833 7.3875 18 8.61667 18 10V17H19C19.2833 17 19.5208 17.0958 19.7125 17.2875C19.9042 17.4792 20 17.7167 20 18C20 18.2833 19.9042 18.5208 19.7125 18.7125C19.5208 18.9042 19.2833 19 19 19H5ZM12 22C11.45 22 10.9792 21.8042 10.5875 21.4125C10.1958 21.0208 10 20.55 10 20H14C14 20.55 13.8042 21.0208 13.4125 21.4125C13.0208 21.8042 12.55 22 12 22Z" fill="#C7C7C7" />
                                </g>
                            </svg>

                            <br />
                            <span class="d-none d-md-inline-block">
                                <span class="text-dual" style="font-size:10px">Notification</span>
                            </span>
                        </button>-->
                        <button type="button" class="btn btn-sm btn-alt-secondary" id="page-header-notifications" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications">
                            <div class="px-2 py-3 bg-body-light rounded-top">
                                <h5 class="h6 text-center mb-0">
                                    Notifications
                                </h5>
                            </div>
                            <ul class="nav-items my-2 fs-sm">
                                @if (Session["ID_Role"] != null)
                                {
                                    if (Session["ID_Role"].ToString() == "1")
                                    {
                                        <li>
                                            <a class="text-dark d-flex py-2" href="/Setting/Users">
                                                <div class="flex-shrink-0 me-2 ms-3">
                                                    <i class="fa fa-fw fa-check text-success"></i>
                                                </div>
                                                <div class="flex-grow-1 pe-2">
                                                    <p class="fw-medium mb-1">You’ve added @Session["LastaddUser"].ToString() account successfully!</p>
                                                    <div class="text-muted">@Session["LastaddUserDate"].ToString()</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="text-dark d-flex py-2" href="/Approval/Index">
                                                <div class="flex-shrink-0 me-2 ms-3">
                                                    <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
                                                </div>
                                                <div class="flex-grow-1 pe-2">
                                                    <p class="fw-medium mb-1">@Session["Counted"].ToString() Approval from all site found. Check at Work Approval menu!</p>
                                                    <div class="text-muted">@Session["LastCFC"].ToString()</div>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                    else if (Session["ID_Role"].ToString() == "2")
                                    {
                                        <li>
                                            <a class="text-dark d-flex py-2" href="/Approval/Index">
                                                <div class="flex-shrink-0 me-2 ms-3">
                                                    <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
                                                </div>
                                                <div class="flex-grow-1 pe-2">
                                                    <p class="fw-medium mb-1">@Session["Counted"].ToString() Approval from all site found. Check at Work Approval menu!</p>
                                                    <div class="text-muted">@Session["LastCFC"].ToString()</div>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                    else if (Session["ID_Role"].ToString() == "4")
                                    {
                                        <li>
                                            <a class="text-dark d-flex py-2" href="/Approval/Index">
                                                <div class="flex-shrink-0 me-2 ms-3">
                                                    <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
                                                </div>
                                                <div class="flex-grow-1 pe-2">
                                                    <p class="fw-medium mb-1">@Session["Counted"].ToString() Approval from all site found. Check at Work Approval menu!</p>
                                                    <div class="text-muted">@Session["LastCFC"].ToString()</div>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="text-dark d-flex py-2" href="javascript:void(0)">
                                                <div class="flex-shrink-0 me-2 ms-3">
                                                    <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
                                                </div>
                                                <div class="flex-grow-1 pe-2">
                                                    <p class="fw-medium mb-1">You don't have any notifications.</p>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                            <div class="p-2 bg-body-light rounded-bottom">
                                <a class="dropdown-item text-center mb-0" href="javascript:void(0)">
                                    <i class="fa fa-fw fa-flag opacity-50 me-1"></i> View All
                                </a>
                            </div>
                        </div>
                        <!-- END Open Search Section -->
                        <!-- Compose -->
                        @*<button type="button" class="btn rounded-pill btn-outline-secondary ms-1 tombol" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-sm-inline">@Session["Name"].ToString()</span>
                            <i class="fa fa-ellipsis-vertical opacity-50 naraw"></i>
                        </button>*@
                        <button type="button" class="btn btn-sm btn-alt-success ms-1" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-edit opacity-50"></i>
                            <span class="d-none d-sm-inline">@Session["Name"].ToString()</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-end p-0" aria-labelledby="page-header-user-dropdown">
                            <div class="p-2">
                                <a class="dropdown-item d-flex align-items-center justify-content-between space-x-1" href="javascript:void(0)">
                                    <i class="fab fa-fw fa-jenkins opacity-70"></i>
                                    <span>&nbsp; @Session["Role"].ToString()</span>
                                </a>
                                @if (Session["ID_Role"] != null)
                                {
                                    if (Session["ID_Role"].ToString() != "1")
                                    {
                                        <a class="dropdown-item d-flex align-items-center justify-content-between space-x-1" href="javascript:void(0)">
                                            <i class="fa fa-fw fab fa-whmcs opacity-25"></i>
                                            <span>&nbsp; User Setting</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item d-flex align-items-center justify-content-between space-x-1" href="/Setting/Users">
                                            <i class="fa fa-fw fab fa-whmcs opacity-25"></i>
                                            <span>&nbsp; User Setting</span>
                                        </a>
                                    }
                                }
                                <a class="dropdown-item d-flex align-items-center justify-content-between space-x-1" href="/Login/logout">
                                    <i class="fa fa-fw fa-sign-out-alt opacity-25"></i>
                                    <span>&nbsp; Sign Out</span>
                                </a>
                            </div>
                        </div>
                        <!-- END Compose -->
                    </div>
                </div>
            </div>
            <!-- END Header Content -->
            <!-- Header Search -->
            <div id="page-header-search" class="overlay-header bg-body-extra-light">
                <div class="content-header">
                    <form class="w-100" action="db_social.html" method="POST">
                        <div class="input-group">
                            <!-- Close Search Section -->
                            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                            <button type="button" class="btn btn-secondary" data-toggle="layout" data-action="header_search_off">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                            <!-- END Close Search Section -->
                            <input type="text" class="form-control" placeholder="Search or hit ESC.." id="page-header-search-input" name="page-header-search-input">
                            <button type="submit" class="btn btn-secondary">
                                <i class="fa fa-fw fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Header Search -->
            <!-- Header Loader -->
            <div id="page-header-loader" class="overlay-header bg-primary">
                <div class="content-header">
                    <div class="w-100 text-center">
                        <i class="far fa-sun fa-spin text-white"></i>
                    </div>
                </div>
            </div>
            <!-- END Header Loader -->
        </header>
        <!-- END Header -->
        <!-- Main Container -->
        <main id="main-container">
            <!-- Page Content -->
            <div class="content">
                <div class="col-lg-8">
                    <nav class="breadcrumb push">
                        <a class="breadcrumb-item piraww" style="display: flex; align-items: center; text-decoration: underline;">
                            <i class="nav-main-link-icon fa fa-home" style="margin-right: 5px;"></i> <!-- Ikonya -->
                            Home
                        </a>
                        <span class="breadcrumb-item active" id="alamat">Work Approval</span>
                    </nav>
                </div>
                @RenderBody()
            </div>
            <!-- END Page Content -->
        </main>
        <!-- END Main Container -->
        <footer id="page-footer">
            <div class="content py-3">
                <div class="row fs-sm">
                    <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-start">
                        PT. Kalimantan Prima Persada &copy; <span data-toggle="year-copy"></span>
                        <br />
                        Performed by <i class="fab fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- END Page Container -->
    <!--
        Codebase JS

        Core libraries and functionality
        webpack is putting everything together at ~/Content/assets/_js/main/app.js
    -->
    <script src="~/Content/assets/js/codebase.app.min.js"></script>

    <script src="~/Content/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Content/assets/js/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Content/assets/js/pages/be_ui_progress.min.js"></script>
    <script src="~/Content/assets/js/plugins/ckeditor5-classic/build/ckeditor.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="~/Content/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/plugins/jquery-validation/additional-methods.js"></script>
    <script src="~/Content/assets/js/plugins/pwstrength-bootstrap/pwstrength-bootstrap.min.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/Content/assets/js/plugins/masked-inputs/jquery.maskedinput.min.js"></script>
    <script src="~/Content/assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="~/Content/assets/js/plugins/dropzone/min/dropzone.min.js"></script>
    <script src="~/Content/assets/js/plugins/flatpickr/flatpickr.min.js"></script>
    <!-- Include jsPDF library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

    <script src="~/Content/assets/js/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/assets/js/plugins/chart.js/chart.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-pie.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-base.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @*<script>
            Codebase.helpersOnLoad(['cb-table-tools-checkable', 'cb-table-tools-sections']);
        </script>*@
    @*<script src="~/Content/assets/js/pages/be_forms_validation.min.js"></script>*@
    <script src="@Html.Raw(ViewBag.JS)"></script>
    <script>
        var path = window.location.pathname;

        var labelText = "";
        if (path === "/Approval/Index") {
            labelText = "Work Approval";
        } else if (path === "/Home/Index") {
            labelText = "Dashboard";
        } else if (path === "/CfmManagement/Index") {
            labelText = "CFM Management";
        } else if (path === "/EmpRecord/Index") {
            labelText = "Employee Record"
        } else if (path === "/Setting/Users") {
            labelText = "Setting User"
        } else if (path === "/Setting/Menu") {
            labelText = "Setting Profile"
        } else if (path.startsWith("/Approval/Detail")) {
            labelText = "Detail Approval";
        }

        document.getElementById("alamat").textContent = labelText;
    </script>
</body>
</html>